html, body, a, div, img {
  margin: 0;
  padding: 0;
  border: 0;
}

div.carousel {
  height: 600px;
  width: 400px;
}

div.items {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

img:not(.active) {
  display: none;
}

img.active {
  position: absolute;
  left: 0%;
  -webkit-transition: left .5s;
}

img.left {
  left: -100%;
}

img.right {
  left: 100%;
}
