ul, p, li, html, body, a, div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-decoration: inherit;
}

.tabs a.active {
  font-weight: bold;
}

div.tab-pane {
  display: none;
  opacity: 100;
  -webkit-transition: opacity 0.5s;
}

div.tab-pane.active {
  display: block;
}

div.transitioning {
  display: block;
  opacity: 0;
}
